    
    @import url(http://fonts.googleapis.com/css?family=Rock+Salt);
    .sign-name 
    {
    	text-align: left;
        font-family: 'Rock Salt', 微軟正黑體  , cursive;
        font-size: 80%;
        font-style: italic;
    }

    html, body { background: #fff; }
	body { overflow: hidden; }
	#win2 { display: none; }

	@media screen and (min-width: 401px) ,  screen and (min-height: 401px) {
		.card { width: 800px; /*height:400px;*/ position: absolute; }
		.card #pic , .card #message { width: 400px; height: 400px; position: absolute; top: 0; background: #fff; }
		.card #pic { position: fixed; left: 0; }
		.card #pic img { width: auto; height: auto; }
		.card #message { left: 400px; }    
		.card .shadow { display: block; position: absolute; position: fixed; z-index: 999; top: 0; left: 0; width: 800px; height: 100%; min-height: 400px; background: url(../images/message/shaslow.png) repeat-y; }
		.card .watermark { display: block; position: absolute; bottom: 15px; right: 20px; width: 100px; height: 118px; background: #fff url(../images/message/watermark.png) no-repeat; }
	} 
	
	@media screen and (max-width: 400px) {
		.card { width: 100%; position: inherit; }
		.card #pic , .card #message { width: 100%; height: auto; position: inherit;  top: 0; background: #fff; }
		.card #pic { position: inherit; left: 0; }
		.card #pic img { width: 100%; height: auto;}
		.card .shadow { display: none;  }
		.card .watermark { display: none; }
	} 	

    #message .line { margin: 30px 30px; padding: 0 5px; line-height: 200%; white-space: normal;word-wrap: break-word; font-family: 微軟正黑體, Verdana, Arial, Sans-Serif; background: url(../images/message/line.png); }

	@media screen and (max-width:400px)
	{
        #message .line
        {
            margin: 0 30px 30px 30px;
        }
	}

	@media screen and (max-width:399px) 
	{
        #message .line
        {
            margin: 10px 10px;
            padding: 0 5px;
        }
	}
		
