

.position/*<a>*/ {
	background-image: url(../images/ic-action-position.png);
}
.location/*<a>*/ {
	background-image: url(../images/ic-action-location.png);
}
.layer/*<a>*/ {
	background-image: url(../images/ic-action-layer.png);
}
.clear/*<a>*/ {
	position:fixed;
	background-image: url(../images/ic-clear.png);
	right:0.5em;
	bottom:1em;
	z-index:4;
	display:none;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	width:3em;
	height:3em;
}
.clear:hover{
	background-image: url(../images/ic-clear-press.png);
}
.btn.clear , .btn.clear:hover, .btn.clear:active, .btn.clear::selection {
	background-color: none;
}

.help/*<a>*/ {
	position:fixed;
	background-image: url(../images/ic-help.png);
	left:0.5em;
	bottom:1em;
	z-index:5;
	display:none;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	width:3em;
	height:3em;
}
.help:hover{
	background-image: url(../images/ic-help-press.png);	
}

.stream/*<a>*/ {
	background-image: url(../images/ic-action-stream.png);	
}
.rainfall/*<a>*/ {
	background-image: url(../images/ic-action-rainfall-station.png);	
}
.evacuation/*<a>*/ {
	background-image: url(../images/ic-action-evacuation.png);	
}

.map {
	position: relative;
	/*background: #f0ede5 ;*/
	background: #f0ede5;
	color: #333;
}
/*
.loading-tip {
	position: absolute;	
	top: 50%;
	left: 50%;
	width: 8em;
	margin-top: -2.5em;
	margin-left: -4em;
	line-height: 150%;
	font-size: 1.5em;
	color: #6c6246
	text-align: center;
	letter-spacing: 1px;
}
*/
.map-loading-icon {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -3em;
	margin-left: -3em;
	width: 6em;
	height: 6em;
	background: url(../images/bg-map-load.png) 50% 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	opacity: 0.5;
}

#position-panel {
	left: 0;
	right: 0;
}

#position-panel select {
	display: inline-block;
	width: 31.5%;
	margin: 1%;
	margin-right: 0;
	line-height: 2em;	
	background-color: transparent;
	color: #fff;
}

#position-panel select option {
	background: #333;
	color: #fff;
}


#position-panel select:last:child {
	margin-right: 1%;
}


#mapPage/*body*/ .action-panel li:hover {
	background: none;
}

#mapPage/*body*/ .action-panel li:active {
	background: #555;
}



/* loading circle */
/*
.map-loading-icon:before {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -5em;
	margin-left: -5em;
	width: 10em;
	height: 10em;	
	content: "";
	border: 4px solid #ccc;
	border-right-color: transparent;
	border-bottom-color: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transform: rotate(45deg);
  	-webkit-animation: spinner 400ms linear infinite;
          	animation: spinner 400ms linear infinite;
}
@-webkit-keyframes spinner {
  0%   { -webkit-transform: rotate(45deg); }
  100% { -webkit-transform: rotate(405deg); }
}
@keyframes spinner {
  0%   { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}
*/
