/* Spinner in Index ---------------------*/

.spinner.index {
    position: absolute;
    top: 75% ;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}
.spinner.index {
	border-width: .8em;
}
.spinner.index,
.spinner.index:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

@media screen and (max-width: 767px)  {
	.spinner.index {
	    top: 80% ;
	}
}
@media screen and (max-width: 479px)  {
	.spinner.index {
		border-width: .5em;
	}
	.spinner.index,
	.spinner.index:after {
	  border-radius: 50%;
	  width: 3em;
	  height: 3em;
	    margin-top: -24px;
	    margin-left: -15px;	  
	}
}

/* Spinner in Video ---------------------*/

.spinner.video {
    position: absolute;
    top: 50% ;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
@media screen and (max-width: 799px) {
    .spinner.video {
        bottom: auto ;
    }      
}

/*------------------------*/