@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-google-plus:before {
  content: "\f0d5";
}

html {
    font-size: 100%;
}
body {
    padding-top: 3em;
    overflow-x: hidden;
    font-size: 100%;
}
ul, li {
  margin: 0;
  padding: 0;
}

/* FONT */
body, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 华文细黑, STHeiti, 微软雅黑, 'Microsoft YaHei', SimHei, sans-serif;
}

a, a:hover {
  text-decoration: none;
  outline: none;
}
a, button {
  outline: none;
}


/*=================================
  COMMON
================================*/

.header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999; /* > bxslider 的左右控制 */
    height: 3rem;
    padding-right: 1em;
    background: rgba(255,255,255,1);
    text-align: right;
}

.header a {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  vertical-align: middle;
  line-height: 3rem;
  font-weight: bold;
  color: #666;
}
@media screen and (max-width: 767px) {
  .header a {
      font-size: 85%;
  }
}

@media screen and (max-width: 479px) {
  .header a {
      font-size: 80%;
  }
}

.split {
  display: inline-block;
  border-left: 1px solid #ddd; 
  width: 1px; 
  height: 3em;
  line-height: 3rem;
  vertical-align: middle;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(../images/logo.png) no-repeat;*/
}


a.share-fb,
a.share-google-plus {
  margin-right: .5em;
  padding-right: .8em;
  min-width: 2em;
  height: 2em;
  line-height: 2em;
  text-indent: 1.5em;
  border-radius: 3px;
  color: #fff;
}
.share-fb {
  background: #3b579d url(../Images/fb.jpg) 5px 50% no-repeat;
}
.share-google-plus {
  background: #da4835 url(../Images/google-plus.jpg) 5px 50% no-repeat;
}
.share-fb,
.share-google-plus
{
  -webkit-background-size:  16px;
  background-size:  16px;
}
@media screen and (max-width: 359px) {
  .go-home {
    display: none;
  }
}

/*-------------*/

.section-nav {
  position: fixed;
  bottom: 0;  
  left: 0;  
  right: 0; 
  border-top: 1px solid #333;
  /*background-color: rgba(64,108,11,.85);*/
  background-color: rgba(0,0,0,.85);
}

.section-nav a {
  padding: 0 1.5em;
  border-right: 1px solid #333;
  color: #fff;
  letter-spacing: .1em;
}
.section-nav a:last-child {
  border: 0;
}
@media screen and (max-width: 767px) {
  .section-nav a span {
    display: none;
  }
}
@media screen and (max-width: 499px) {
  .section-nav a {
    padding: 0 1em;
  }
}
@media screen and (max-width: 420px) {
  .section-nav a {
    padding: 0 .5em;
  }
}
/*-----------*/

.footer {
    padding-top: 3em;
    padding-bottom: 6em;
    font-size: .75em;
    color: #666;
    background-color: #fff;
}
.footer a {
    color: #669966;  
    font-weight: bold;  
}
.footer a:hover {
    color: #cc6600;
}

.infobox {
    padding-top: .5em;
    text-align: left;
    line-height: 1.83;
}
@media screen and (max-width: 991px) {
  .infobox {
      text-align: center;
  }
  .infobox span {
    display: none;
  }
  .infobox .br {
    display: block;
  }
}

/*-------------------
   for SEO 
-----------------*/

.pos-out-screen {
  position: absolute;
  left: -100%;
}

/*==================================
    INDEX
==================================*/

#title-pic {
  position: relative;
  background: #709c3b url(../images/15kmh-white-small.png) 50% 40% no-repeat;
}
@media screen and (orientation:portrait) {
  #title-pic {
    -webkit-background-size: 80% auto;
    background-size: 80% auto;     
  }
}
@media screen and (orientation:landscape) {
  #title-pic {
    background-position: 50% 30%;
    -webkit-background-size: auto 50% ;
    background-size: auto 50%; 
  }
}

#cover_wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 3em;
    background: #000;
    -webkit-user-select: none;
}
#cover_wrapper.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*-----------*/
#player {
/*    position: relative;
    top: 0;*/

    /*提高影片對比度*/
    -webkit-filter: contrast(1.8);
    -o-filter: contrast(1.8);
    filter: contrast(1.8);
}
/*-----------*/
#simple_control {
    position: absolute;
    display: none;
    top: 4em;
    right: .5em;
    z-index: 999999; /* > .header z-index*/
    vertical-align: middle;
}
#pause {
  font-size: 1.5em;
  color: #fff;
}
#mute {
  position: relative;
  top: .1em;
  font-size: 1.8em;
  color: #fff;
}
#pause,
#mute {
  padding-right: .8em;
}


/*-----------*/
#cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    background: #000 url(../images/15kmh-white-small.png) 50% 10% no-repeat;
    -webkit-background-size: 40%;
    background-size: 40%;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;   
}
#cover.index {
  background-color: #709c3b;
}

#cover-mobile {
  position:static;
  background: url(../images/cover-mobile.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/*
@media screen and (max-width: 767px) {
  #cover {
    background-position: 50% 30%;
  }
}
*/
@media screen and (max-width: 767px) {
  #simple_control {
      top: 3.3em;
      right: 0;
  }
}

.go-micro-film {
    width: 12em;
    padding: .5em;
    border-radius: .5em;
    border: 2px solid #fff;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: .1em;
    color: #fff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;       
}
.go-micro-film:hover {
    color: #fff;
    background-color: rgba(0,0,0,.45);
}

@media screen and (min-width: 768px) {
  .go-micro-film {
      position: absolute;
      left: 50%;
      top: 60%;
      margin-left: -6em;
  }
}
@media screen and (min-width: 922px)  {
  .go-micro-film {
      font-size: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 921px)  {
  .go-micro-film {
      font-size: 1.5em;
  }
}
@media screen and (max-width: 767px)  {
  .go-micro-film {
      display: none;
  }
}

.go-micro-film-mobile {
  /*display: none;*/
  display: block;
  width: 100%;
  padding: .5em;
  border-radius: 0;
  background-color: #709c3b;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .1em;
  color: #fff; 
}
.go-micro-film-mobile:hover {
  background-color: #cc6699;
  color: #fff; 
}


/*==================================
    8 min video
==================================*/

a.scroll-down-tip {
  /*
  position: fixed;
  bottom: 0; 
  left: 0;  
  right: 0; 
  z-index: 1;
  */
  display: block;
  color: #fff;
  /*line-height: 6rem;*/ 
  font-size: 4em;
  padding-bottom: .5em;
  text-align: center;
  vertical-align: top;
}

/*簡介*/
#intro {
  padding-top: 3em;
  /*padding-bottom: 2em;*/
  background: #709c3b;
  color: #fff;
  line-height: 2;
}
#intro .row {
  padding-bottom: 2em;
}

.title-15kmh {  
  background: url(../images/15kmh-white-small.png) 0 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

@media screen and (orientation:portrait) {
  .title-15kmh {
    height: 20em;    
  }
}
@media screen and (orientation:portrait) and (max-width: 479px) {
  .title-15kmh {
      margin-top: 3em;
      height: 8em; 
      background-position: left bottom;
      -webkit-background-size: 90% auto;
      background-size: 90% auto;
  }
}
@media screen and (orientation:landscape) {
  .title-15kmh {
    height: 30em;

  }
}
@media screen and (orientation:landscape) and (max-width: 767px) {
  .title-15kmh {
    height: 15em; 
  }
}
.intro-content {
  margin-top: 1em;
  /*margin-bottom: 1em;*/
}
.intro-content p {
  letter-spacing: .1em;
  font-size: 1.5em;
  text-align: center;
}
@media screen and (orientation:portrait) and (max-width: 479px) {
  .intro-content span {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.intro-content .scroll-down-tip {
  margin-top: 1em;
  /*margin-bottom: 1em;*/
}

/*前往留言*/
#go-comment {
  font-size: 2.5em;
  font-weight: bold;
  color: #709c3b;
}
@media screen and (min-width: 480px) and (max-width: 991px) {
  #go-comment {
    margin-top: 1em;
  }
}

#intro-2 {
  padding-top: 3em;
}

/*旅行足跡*/

#attractions-title { 
  padding-top: 3em;
  padding-bottom: 1.5em;
  border-top: .3em solid #fff;
  font-size: 3em; 
  background-color: #cc6699;
}
#attractions-title .title {
  color: #fff;
}

.heart-beat {
  margin-top: 1em;
  font-size: 1em; 
  color: #fff;
  -webkit-animation: beat .25s infinite alternate;
  -o-animation: beat .25s infinite alternate;
  animation: beat .25s infinite alternate; 
}
@-webkit-keyframes beat{
  to { transform: scale(1.4); }
}
@keyframes beat{
  to { transform: scale(1.4); }
}

/*@media screen and (max-width: 767px) {
  #attractions-title {
    font-size: 2em;
  }
  #attractions-title .row {
    margin-top: 5em;
    margin-bottom: 5em;
  } 
}*/


#attractions {
  padding-top: 2em;
  padding-bottom: 2em;  
  /*background-color: rgba(234,232,214,1);*/
  /*line-height: 2;*/
  color: #333;
}
#attractions .item {
  padding-top: 2em;
  padding-bottom: 2em;
}
#attractions .item+.item {
  border-top: .1em dotted #cc6699;
}
#attractions p {
  line-height: 2;
}
#attractions h3 /*景點標題*/ {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #cc6699;
}
@media screen and (max-width: 991px) {
  #attractions h3 {
    margin-top: 1em;
  }
}


/*------------*/

.video-shot {
  position: relative;
  /*margin-bottom: 2em; */
    /*提高對比度*/
    -webkit-filter: contrast(1.8);
    -o-filter: contrast(1.8);
    filter: contrast(1.8);
}
.video-shot img {
   border-top: 2.5em solid #000; 
}
.video-shot .time {
  display: block;  
  padding: 0 1em;
  background: #333;
  color: #fff;
  font-size: .75em;
}

/* 頁面底部連結 -----------*/

#go-nav-bottom {
  padding: 1em;
  background: #cc6699;
  border-top: .3em solid #fff;
  color: #fff;
  text-align: center;
}
#go-nav-bottom .row {
  margin-top: 1em;
  margin-bottom: 1em;
}
#go-nav-bottom .row+.row {
  margin-top: 1em;
}
#go-nav-bottom p {
  margin: 0; 
  margin-top: 1em;
}

/*#go-nav-bottom a {
  background-color: #333;
  color: #fff;
}
#go-nav-bottom a:hover {
  background-color: #709c3b;
}*/
#go-nav-bottom a {
  color: #cc6699;
  font-weight: bold;
}



/*==================================
    3 min video
==================================*/

#lane-cover {
  /*margin-top: 6em;*/
  margin-top: 3em;
  padding-bottom: 4em;
  background-color: #709c3b;
}
#lane-cover .title {
  line-height: 1.5;
  color: #fff;
  letter-spacing: .1em;
} 
.lane {
  background: url(../images/15kmh-white-small.png) 0 50% no-repeat;
}
@media screen and (orientation:portrait) {
  #lane-cover .title {
    font-size: 2em;
    text-align: center;
  }
  .lane {
    height: 16em; 
    -webkit-background-size: 90% auto;
    background-size: 90% auto;   
  }
}

@media screen and (orientation:landscape) {
  #lane-cover .title {
    margin-top: 3em;
    padding-bottom: 3em;
    font-size: 3.6em;
  }
  .lane {
    height: 24em;      
    -webkit-background-size: auto 100%;
    background-size: auto 100%;   
  }
}
@media screen and (orientation:landscape) and (max-width: 1199px) {
  #lane-cover .title {
    font-size: 3em;
    text-align: center;
  }  
  .lane {
    height: 5em;       
  }
}

#intro-3min {
/*  border-top: 1em solid #fff;
  border-bottom: 1em solid #fff;*/
  background-color: #000;
  color: #fff;
}

#travel-lane {
  /*padding-top: 3em;*/
  padding-bottom: 3em;
  background: #fff;
  color: #333;
  letter-spacing: .2em;
}
#travel-lane p {
  line-height: 2;
}

.section-title {
  padding-top: 2em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 4em;
  background: #709c3b;
  color: #fff;
}

.lane-name {
  margin: .5em 0;
  padding-top: 1em;
  padding-bottom: .5em;
  /*border-bottom: .2em dotted #709c3b; */
  text-align: center; 
  font-size: 2.5em;
  font-weight: bold;
  color: #709c3b;  
}
/*@media screen and (max-width: 991px) {*/
  .lane-name span {
    display: block;
    width: auto;
    margin-top: 1em;
    padding: .2em 1em;
    font-size: .5em;   
    background-color: #709c3b; 
    color: #fff;
    border-radius: 1em;
  }
/*}*/
/*
@media screen and (min-width: 992px) {
  .lane-name span:before {
    content: "- ";   
  }
}
*/
.lane-info {
/*  margin-top: 1em;*/
  padding-bottom: 2em;
}


.place-list {
  padding: 2em 3em;
  background: #eee;
  border-radius: .5em;
}
.place-item {
  margin-bottom: 2em; 
}
.place-item+.place-item {
  padding-top: 1.5em;
  border-top: 1px dashed #ccc;
}
.place-info h4 {
  font-size: 1.5em;
  color: #709c3b;
  font-weight: bold;
}
.place-info ul ,
.place-info li {
  margin: 0; 
  padding: 0; 
  list-style: none;
}
.place-name,
.place-info ul {
    margin-bottom: 1em;
}
.place-info li {
  display: inline-block;  
}

@media screen and (min-width: 768px) {
  .place-info li {
    display: inline-block;
    width: 2em; 
    height: 2em; 
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
  }
  .facility1 {
    background-image: url(../Images/3min/facility/1.png);
  }
  .facility2 {
    background-image: url(../Images/3min/facility/2.png);
  }
  .facility3 {
    background-image: url(../Images/3min/facility/3.png);
  }
  .facility4 {
    background-image: url(../Images/3min/facility/4.png);
  }
  .facility5 {
    background-image: url(../Images/3min/facility/5.png);
  }
  .facility6 {
    background-image: url(../Images/3min/facility/6.png);
  }
  .facility7 {
    background-image: url(../Images/3min/facility/7.png);
  }
  .facility8 {
    background-image: url(../Images/3min/facility/8.png);
  }
  .facility9 {
    background-image: url(../Images/3min/facility/9.png);
  }
  .facility10 {
    background-image: url(../Images/3min/facility/10.png);
  }
  .facility11 {
    background-image: url(../Images/3min/facility/11.png);
  }
}
@media screen and (max-width: 767px) {
  
  .place-info ul {
    /*padding: .5em .8em;*/
    line-height: 1.5;
    letter-spacing: 1px;
    /*background-color: #fff;*/
  }

  .place-info li {    
    color: #369;
    font-size: 1em;
  }
  .place-info li:first-child:before {
    content: "相關設施 : "; 
    display: block;
    font-weight: bold;
  }  
  .place-info li+li:before {
    content: ","; 
  }
}


/*BOOK------------*/

#book-title {
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 3em;
  background-color: #709c3b;
  color: #fff;
}
#book {
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fff;
  letter-spacing: .1em;
}
.book-name {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  color: #709c3b;
  font-size: 1.5em;
  font-weight: bold;
}
#book img {
  margin-bottom: 1em;
}
.book-info, .book-info li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.book-info li {
  padding: .5em;
  border-top: 1px dotted #ccc;
}
.book-info li li {
  border-top: 0;
  /*border-bottom: 1px dotted #ccc;*/
  list-style-type: decimal; ;
}
@media screen and (max-width: 767px) {
  .book-info {
    font-size: .875em;
  }
}

/*==================================
    others
==================================*/

.no-text {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

.btn {
  letter-spacing: .1em;
}


/*-------------------------
  bxslider : CSS 覆蓋
------------------------*/

.bx-wrapper {
  margin-bottom: 2em;
}
.bx-wrapper .bx-caption {
  position: static;
  background: #000\9;
  background: rgba(0, 0, 0, 1);
  text-align: left;
}
.bx-pager {
  position: absolute;
  top: -5px;
}
.bx-wrapper .bx-pager {
  padding-right: 24px;
  text-align: right;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}
.bx-wrapper .bx-next {
  right: 20px;
}


/*---------------------------------
  spinner ( preloader for Video)
---------------------------------*/

.spinner {
  display: block;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}