@{
    ViewBag.Title = "全球夥伴祝賀";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerCSS {
    <link href="@Url.Content("~/css/colorbox.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/video.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/animate.css")" rel="stylesheet" />
}

@section headerScript {

}

<div id="main" class="fade out" >
    
    <div id="mapMenu">
      

        <!-- 註：以下XY坐標皆以1280解析度來定位 -->

         <div class="pos" data-x="1070" data-y="332">            
            <div class="country">
                <span>台灣</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/bcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=0">逢甲大學 董事長<em>張仲明</em></a></li>
                    <li><a href="https://www.youtube.com/embed/bcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=334">逢甲大學 副董事長<em>高承恕</em></a></li>
                    <li><a href="https://www.youtube.com/embed/bcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=478">逢甲大學 校長<em>李秉乾</em></a></li>
                    <li><a href="https://www.youtube.com/embed/bcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=502">逢甲大學 資深副校長<em>楊龍士</em></a></li>
                    <li><a href="https://www.youtube.com/embed/bcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=527">逢甲大學 副校長<em>邱創乾</em></a></li>
                    <li><a href="https://www.youtube.com/embed/bcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=562">逢甲大學 建設學院院長<em>陳昶憲</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=111">國家太空中心 資深研究員<em>陳明智</em></a></li>
                </ul>
            </div>
        </div>  
             
        <div class="pos" data-x="210" data-y="240">            
            <div class="country">
                <span>美國</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=0">OGC 總裁<em>Mark</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=11">OGC 技術長<em>Carl Reed</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=36">美國國家航空及太空總署 高級督察<em>Wendy</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=47">美國國家航空及太空總署<em>長官</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=51">Integraph	軟體科學家<em>Stan</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=122">美國普渡大學 助理教授<em>Magesh Chandramouli</em></a></li>
                </ul>
            </div>
        </div>      
          
        <div class="pos" data-x="1125" data-y="280">            
            <div class="country">
                <span>日本</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=73">日立製作所 超級工程師 <em>Nobu</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=77">Chubu University 教授 <em>Kiyoshi Honda</em></a></li>
                </ul>
            </div>
        </div>

        <div class="pos" data-x="1065" data-y="272">            
            <div class="country">
                <span>韓國</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=83">釜山大學 教授<em>Ki-Joune Li</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=175"><em>韓國友人</em></a></li>
                </ul>
            </div>
        </div>


        <div class="pos" data-x="978" data-y="280">
            <div class="country">
                <span>中國</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=27">Berkeley 大學森林系/<br />中國清華大學地理遙感中心 教授/主任 <em>宮鵬</em></a></li>
                    <li><a href="https://www.youtube.com/embedbcNcdeijcvU?rel=0&showinfo=1&controls=1&autoplay=1&start=595">中國農業大學 教授<em>嚴泰來</em></a></li>
                </ul>
            </div>
        </div>

        <div class="pos" data-x="1025" data-y="345">            
            <div class="country">
                <span>香港</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=59">香港理工大學 教授<em>史文中</em></a></li>
                </ul>
            </div>
        </div>


        <div class="pos" data-x="887" data-y="340">
            <div class="country">
                <span>印度</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=158">Indian Institute of Technology Bombay	教授<em>Umesh Bellur</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=173"><em>印度友人</em></a></li>
                </ul>
            </div>
        </div>


        <div class="pos" data-x="890" data-y="150">
            <div class="country">
                <span>俄羅斯</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=167"><em>俄羅斯友人</em></a></li>
                </ul>
            </div>
        </div>

        <div class="pos" data-x="644" data-y="262">
            <div class="country">
                <span>義大利</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=170" title="義大利友人"><em>義大利友人</em></a></li>
                </ul>
            </div>
        </div>

        <div class="pos" data-x="575" data-y="240">
            <div class="country">
                <span>法國</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=68">Geomatys 架構師<em>Frédéric Houbie</em></a></li>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=172"><em>法國友人</em></a></li>
                </ul>
            </div>
        </div>

        <div class="pos" data-x="602" data-y="207">
            <div class="country">
                <span>比利時</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=105">OGC 駐歐代表<em>Bart De Lathauwer</em></a></li>
                </ul>
            </div>
        </div>

        <div class="pos" data-x="560" data-y="190">
            <div class="country">
                <span>英國</span>
                <ul>
                    <li><a href="https://www.youtube.com/embed/_DDHWIBPK6I?rel=0&showinfo=1&controls=1&autoplay=1&start=64">UK Met Office , IT Fellow - Operational Infrastructures<em>Chris Little </em></a></li>
                </ul>
            </div>
        </div>

    </div> 
    
    
    <div class="play">

    <div class="play-one fade">
        <a href="https://www.youtube.com/embed/_DDHWIBPK6I?list=PLV10AoSbk_ctfEuVn1gXjy_gob7MCb78Y&rel=0&showinfo=1&controls=1&autoplay=1&start=0&loop=1">國際夥伴祝賀</a>
        <a href="https://www.youtube.com/embed/bcNcdeijcvU?list=PLV10AoSbk_ctfEuVn1gXjy_gob7MCb78Y&rel=0&showinfo=1&controls=1&autoplay=1&start=0&loop=1">校內長官祝賀</a>
    </div>
    </div>

</div><!-- main -->

@section bodyScript{

    <script src="@Url.Content("~/js/jquery.colorbox-min.js")"></script>
    <script type="text/javascript">

        function locationPlaceChange() {

            $(".pos").each(function () {
                var poxX = $(this).attr("data-x");
                var poxY = parseInt($(this).attr("data-y"));
                $(this).css({ 'left': poxX + 'px', 'top': poxY + 'px' });
            });           
   
        }

        function mapBlcok() {


            if ( $(window).width() <= 1024) {
                document.location.href="http://www.gis.tw/20/video/mobile";
            }


            // menu
            $(".indicator-current").addClass("active4");
            
            //$("#mapMenu").width(window['winW']).height(window['winH'] );
            $("#mapMenu").width(1280).height(window['winH'] - 40 );

            locationPlaceChange();

            //colorbox
            $(".pos a").colorbox({ rel: 'videoClip', iframe: true, width: '96%', height: '90%', className: 'pic-box topic-box', fixed: true });
            $(".play-all a").colorbox({ iframe: true, width: '96%', height: '90%', className: 'pic-box topic-box', fixed: true });
            $(".play-one a").colorbox({ rel: 'videoOne', iframe: true, width: '96%', height: '90%', className: 'pic-box topic-box', fixed: true });

            setTimeout(function () {
                $(".play-all, .play-one").fadeIn();
            },1000);
            
        }
        

        $(".pos ul").hide();
        $(".pos").hover(function () {
            $(".pos").hide();
            $(this).show().css({ 'z-index': '1' });
            $(this).find("ul").fadeIn();
        }, function () {
            $(".pos").show();
            $(this).css({ 'z-index': '0' });
            $(this).find("ul").fadeOut();  
        });
        
        $(document).mousemove(function (e) {
            sx = e.pageX + document.documentElement.scrollTop;
            sy = e.pageY + document.documentElement.scrollLeft;
            $("#xy").text(sx + "," + sy);
        });
        $(document).ready(function () {
            window['winW'] = $(window).width();
            window['winH'] = $(window).height();
            window['rw'] = window['winW'] / 1920;
            window['rh'] = (window['winH'] - 40) / 1080;
            mapBlcok();
            $(window).resize(function () {
                mapBlcok();
            });
        });
  </script>
}